body {
    margin: 10px;
    overflow: hidden;
    font-family:  Arial;
}

.status {
    margin: 0px;
    margin-left: 30px;
    font-size: 0.9em;
    font-family: sans-serif;
    font-weight: bold;
}

.status p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.connected {
    color: rgb(32, 148, 51);
}

.disconnected {
    color: red;
}

/* text {
} */

.background {
    fill: rgb(239, 239, 239);
}

.battery-container rect {
    fill: rgb(97, 97, 97);
}

.battery-container text {
    font-size: 1.7em;
    font-weight: 1000;
    text-anchor: middle;
    stroke: rgb(100, 100, 100);
    stroke-width: 0.8px;
}

.battery-container .battery-bars {
    stroke: gray;
    stroke-width: 1px;
}
