body {
    margin: 0px;
    overflow: hidden;
}

text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.background {
    fill: rgb(202, 202, 202);
}

.battery-container rect {
    fill: rgb(97, 97, 97);
}

.battery-container text {
    font-size: 1.2em;
    font-weight: bold;
    text-anchor: middle;
    stroke: rgb(100, 100, 100);
    stroke-width: 0.4px;
}

.battery-container .battery-bars {
    stroke: gray;
    stroke-width: 1px;
}
